.gridContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

@media (width >= 1024px) {
    .gridContainer {
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    }
}