.toggleContainer {
    padding: 20px; 
    background-color: var(--bg-1);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 16px;
}

#theme {
    visibility: hidden;
    position: absolute;

}

label img {
    width: 30px;
    display: block;

}