.appContainer {
  background-image: var(--gradient);
  width: 100%;
  min-height: 100vh;
  transition: background-image .25s ease-in;
}

.togglerIcon {
  height: 50px;
}
.red {
  background: blue;
  border: 2px solid black;
}
