:root {
  --bg-1: hsl(200, 60%, 99%);
  --bg-2: hsl(0, 0%, 93%);
  --bg-3: hsl(0, 0%, 78%);
  --bg-4: hsl(217, 61%, 90%);
  --bg-5: hsl(0, 0%, 93%);
  --white: hsl(200, 60%, 99%);
  --shadow: #EBF2FC;
  --red-1: hsl(3, 86%, 64%);
  --red-2: hsl(3, 71%, 56%);
  --red-3: hsl(3, 77%, 44%);
  --text-1: hsl(225, 23%, 24%);
  --text-2: hsl(226, 11%, 37%);
  --gradient: linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui,Helvetica, Arial, sans-serif;
}

[data-theme="dark"] {
  --bg-1: hsl(226, 25%, 17%);
  --bg-2: hsl(225, 23%, 24%);
  --bg-3: hsl(226, 11%, 37%);
  --bg-4: hsl(227, 75%, 14%);
  --bg-5: hsl(226, 11%, 37%);
  --white: hsl(200, 60%, 99%);
  --shadow: #040918;
  --red-1: hsl(3, 86%, 64%);
  --red-2: hsl(3, 71%, 56%);
  --red-3: hsl(3, 77%, 44%);
  --text-1: hsl(200, 60%, 99%);
  --text-2: hsl(217, 61%, 90%);
  --gradient: linear-gradient(180deg, #040918 0%, #091540 100%);
}


body {
  background: var(--gradient);
}

button {
  user-select: none;
  cursor: pointer;
}
